/* ====== ГАЛЕРЕЯ ====== */
.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.gallery-item {
  width: calc(33.333% - 10px);
}
.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}

.basicLightbox--visible {
  background: rgba(255, 255, 255, 0.8) !important;

}

.modal-content {
  position: relative;
  width: 80vw;
  max-height: 90vh;
  margin: 0 auto;
  padding: 80px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.modal-image {
  display: block;
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  margin-bottom: 10px;

}

.modal-caption {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

.modal-index {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 16px;
  color: #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  outline: none;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  outline: none;
}
.modal-prev {
  left: 15px;
}
.modal-next {
  right: 15px;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.modal-image {
  display: block;
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  margin-bottom: 10px;
}

.modal-image.slide-in-right {
  animation: slide-in-right 0.5s ease-in-out;
}

.modal-image.slide-in-left {
  animation: slide-in-left 0.5s ease-in-out;
}

.modal-image.slide-out-right {
  animation: slide-out-right 0.5s ease-in-out;
}

.modal-image.slide-out-left {
  animation: slide-out-left 0.5s ease-in-out;
}

